<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <title>TODO App - AdonisJS</title>
  
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <h3 class="navbar-brand">TODO App</h3>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{route('/')}}">Home</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{route('regView')}}">Sign in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sign up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> 

  <!-- Content -->
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">TODO App</h1>
      <p class="col-md-8 fs-4">Aplikasi ini cocok untuk mengelola daftar tugas yang kompleks. Sebagai contoh, dengan aplikasi ini kita bisa menetapkan siapa yang bertanggung jawab terhadap tugas tertentu dan membagikannya dengan si penanggung jawab tersebut. Si penanggung jawab yang kita tunjuk bisa menandai bila tugasnya telah selesai.</p>
      <br>
      <p class="col-md-8 fs-4">Meski bisa menangani tugas-tugas kompleks, Todoist tetap simple digunakan. Sebagian besar fitur bisa digunakan hanya dengan menggeser layar ke kiri atau ke kanan. Todoist bisa digunakan secara offline dan akan menyinkronisasinya begitu online.</p>
      
    </div>
  </div>

  <!-- Footer -->
  <div class="fixed-bottom">
    <footer class="bg-light text-center text-lg-start">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-dark" href="#">AriefDev.com</a>
      </div>
    </footer>
  </div>

  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>
