<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/core-theme.css">
    <style>
        .stroked { 
            text-decoration: line-through; 
        }
    </style>
    <title>Adonis TODO App</title>
</head>
<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light">TODO Task App</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light p-3 active" href="{{ route('todoView') }}">List Task</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ route('addTaskView') }}">Add Task</a>
            </div>
        </div>

        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <li class="nav-item"><a class="nav-link" href="{{ route('userLogout') }}">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <!-- Page content-->
            <div class="container-fluid">
                <div class="card" style="margin-top: 80px">
                    <div class="card-header">
                        List My Task
                    </div>

                    <table class="table table-hovered table-striped table-bordered">
                        <thead>
                            <tr>
                                <td class="text-center">Status</td>
                                <td class="text-center">Task</td>
                            </tr>
                        </thead>
                        <tbody>
                            @each(task in tasks)
                              <tr>
                                  <td class="text-center"><input class="form-check-input checktask" type="checkbox"></td>
                                  <td id="taskData">{{ task.task }}</td>
                              </tr>
                            @endeach
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/core-theme.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/jquery-3.6.0.min.js"></script>

    <script>
        $('.checktask').change(function () {
            if (this.checked) {
                $(this).closest('tr').css("text-decoration", "line-through")
            } else {
                $(this).closest('tr').css("text-decoration", "none")
            }
        });
    </script>
</body>
</html>